<ul class="navbar navbar-expand-sm bg-dark navbar-dark">
        <li class="nav-item">
        <a class="nav-link" routerLinkActive="actif" [routerLink]="['/accueil']">Accueil</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLinkActive="actif" [routerLink]=" ['/listeparfum']">Liste du parfum</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" routerLinkActive="actif" [routerLink]="['/ajouterparfum']">Ajouter pafum</a>
        </li> 
    </ul>
