<nav class="navbar navbar-light bg-light ">
  <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" [(ngModel)]="recherche" (input)="Search()" style="width: 500px;">
</nav>
<div *ngFor="let p of parfum ; let indice=index " class="card mb-3 p-3" style="max-width: 1000px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]='p.photo' class="card-img" alt="" width="200px" height="200px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{p.nommarque}}</h5>
          <p class="card-text">{{p.nom}} {{p.type}} {{p.taille}} ml</p>
          <p class="card-text">{{p.prix}} <del><small class="text-muted" *ngIf="p.promo">{{p.prixAvantPromo}}</small></del>
          </p>
        </div>
        <button type="button" class="btn btn-info" [routerLink]="[p.id]"> Détail</button>
      </div>
    </div>
  </div>
