input.ng-valid{
    border-left: 2px solid green;
}

input.ng-invalid{
    border-left: 2px solid red;
}





.c {
    
   
    background-color:gray;
    padding-top: 10px;
    width: 40%;
    position: fixed;
    
    top: 0;

    
}







    .c2{
        margin-top: 10%;
    }

    


    .c3{
        margin-left: 40%; 
    }



    

    



.c4{
    margin-top: 15%;
    padding: 60px;
    color: red;
}





